.my-groups-banner {
  display: flex;
  gap: $space-s;
  align-items: center;
  text-align: left;

  &__text {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0;

    > * {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__chevron {
    flex-shrink: 0;
    color: $color-text-tertiary;
  }
}
