.booking-time__center {
  display: flex;
  flex-direction: column;
  gap: $space-2xs;
  margin: $space-xs 0 $space-m;
  text-align: center;

  > * {
    display: block;
  }
}

.booking-time__empty {
  display: flex;
  flex-direction: column;
  gap: $space-s;
  align-items: center;
  padding: $space-2xl 0;
  text-align: center;
}

.booking-time__empty-actions {
  display: flex;
  gap: $space-s;
}

.booking-time__invite {
  margin-bottom: $space-m;
}
