.consent-checkbox {
  display: flex;
  flex-direction: column;
  gap: $space-xs;

  &__link {
    color: $color-text-themed;
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  &__hint {
    display: block;
    padding-left: 38px;
    color: $color-text-negative;
  }
}
