.onboarding-page {
  &__progress {
    padding: $space-m $page-gutter $space-xs;
  }

  &__slide {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}

.onboarding-page__error {
  display: block;
  padding: 0 $page-gutter;
  color: $color-text-negative;
  text-align: center;
}
